<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <unity>
    <typeAliases>
      <typeAlias alias="IVersionable" type="DependencyInjection.SharedComponents.IVersionable, DependencyInjection.SharedComponents" />
      <typeAlias alias="AssemblyV1" type="DependencyInjection.Assembly._1._0.AssemblyV1, DependencyInjection.Assembly.1.0" />
      <typeAlias alias="AssemblyV2" type="DependencyInjection.Assembly._2._0.AssemblyV2, DependencyInjection.Assembly.2.0" />
    </typeAliases>
    <container>
      <register type="IVersionable" mapTo="AssemblyV1" />
    </container>
  </unity>
</configuration>